hr {
	border: none;
	border-top: 1px solid var(--color-button-highlight);
	box-shadow: 0 -1px var(--color-button-shadow);
	margin-top: 3px;
	margin-bottom: 4px;
}

fieldset {
	border: none;
	box-shadow: var(--border-groupbox);
	padding: 11px 9px;
	margin: 0;
	margin-bottom: 8px;
}

fieldset,
input,
button,
select,
textarea {
	--color-arrow-shadow: var(--color-button-face);

	&:disabled {
		--color-window: var(--color-button-face);
		--color-window-text: var(--color-gray-text);
		--color-button-text: var(--color-button-shadow);
		--color-arrow-shadow: var(--color-button-highlight);
		text-shadow: 1px 1px var(--color-button-highlight);

		pointer-events: none;
	}
}

input,
button,
select,
textarea {
	--input-spacing: 2px;

	appearance: none;
	outline: none;
	font: var(--text-ui);
	border: none;
	margin: 0;

	position: relative;
	height: calc(var(--border-size) * 2 + 17px);
}

select,
textarea,
input:not([type]),
input[type="url"],
input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"] {
	background-color: var(--color-window);
	color: var(--color-window-text);
	box-shadow: var(--border-field);
	padding: calc(var(--border-size) + var(--input-spacing));
}

button,
input:where([type="button"], [type="submit"]) {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	box-shadow: var(--border-button-raised);
	padding: 5px;

	min-width: 75px;
	height: unset;

	&:focus {
		outline: dotted 1px var(--color-button-text);
		outline-offset: -5px;
		box-shadow: var(--border-button-focused);
	}

	&:active {
		color: transparent;
		text-shadow: 1px 1px var(--color-button-text);
		box-shadow: var(--border-button-sunken);
	}
}

.icon-button {
	min-width: 23px;
	height: 22px;

	&:active,
	&[selected] {
		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);

		&::before {
			inset: 1px;
		}
	}

	&::before {
		content: '';

		position: absolute;
		inset: 0;

		background: var(--button-img) no-repeat;
		background-position: var(--button-img-pos, center);
	}

	@media (prefers-color-scheme: dark) {
		&::before {
			filter: invert();
		}
	}
}

input {
	&[type="checkbox"],
	&[type="radio"] {
		--color-to-change: var(--color-window);

		width: 13px;
		height: 13px;

		&:active,
		&:disabled {
			--color-to-change: var(--color-button-face);
		}

		&:checked {
			&::before {
				content: '';

				position: absolute;
				inset: 0;

				-webkit-mask: var(--control-img) no-repeat;
				-webkit-mask-size: var(--control-img-size);
				-webkit-mask-position: var(--control-img-pos);
				background-color: var(--color-button-text);
			}
		}
	}

	&[type="checkbox"] {
		background-color: var(--color-to-change);
		box-shadow: var(--border-field);

		--control-img: var(--icon-checkmark);
		--control-img-size: 7px 7px;
		--control-img-pos: 3px 3px;
	}

	&[type="radio"] {
		--control-img: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0IDQiPjxzdHlsZT5yZWN0e2hlaWdodDoxcHh9PC9zdHlsZT48cmVjdCB4PSIxIiB3aWR0aD0iMiIvPjxyZWN0IHk9IjEiIHdpZHRoPSI0Ii8+PHJlY3QgeT0iMiIgd2lkdGg9IjQiLz48cmVjdCB4PSIxIiB5PSIzIiB3aWR0aD0iMiIvPjwvc3ZnPgo=');
		--control-img-size: 4px 4px;
		--control-img-pos: 5px 5px;
	}

	&[type="number"] {
		&::-webkit-inner-spin-button {
			appearance: none;
			opacity: 1;
			background: var(--button-img);
			background-repeat: no-repeat;
			background-size: 1px 1px;
			margin-right: calc(var(--border-size) * -1);

			width: 17px;
			height: 18px;
		}
	}

	&[type="range"] {
		--color-to-change: var(--color-button-face);

		background-color: transparent;
		margin: 0 4px;

		&:active,
		&:disabled {
			--color-to-change: var(--color-button-highlight);
		}

		&::-webkit-slider-runnable-track {
			box-shadow: var(--border-field);

			height: calc(var(--border-size) * 2);
		}

		&::-webkit-slider-thumb {
			appearance: none;
			background: var(--control-img);
			background-repeat: no-repeat;
			background-size: 1px 1px;
			margin: -4px;
			margin-top: calc(var(--border-size) * -2 - 3px);

			width: 11px;
			height: 21px;
		}
	}
}

select {
	opacity: 1;
	background: var(--control-img);
	background-color: var(--color-window);
	background-repeat: no-repeat;
	background-size: 1px 1px;
	padding-right: calc(var(--border-size) + var(--input-spacing) + 16px);
}

progress {
	appearance: none;
	box-shadow: var(--border-statusbar);
	padding: 1px;

	block-size: 12px;

	&::-webkit-progress-bar {
		background-color: var(--color-button-face);
	}

	&::-webkit-progress-value {
		--block-width: 7px;

		background-color: transparent;
		background-image: repeating-linear-gradient(
			90deg,
			var(--color-highlight) 0 var(--block-width),
			transparent var(--block-width) calc(var(--block-width) + 2px)
		);
	}
}

::-webkit-scrollbar {
	background: var(--checkerboard);
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background-color: var(--color-button-face);
	box-shadow: var(--border-scrollbar-button-raised);
}

::-webkit-scrollbar-button {
	--offset: 0px;

	background-color: var(--color-button-face) !important;
	background-repeat: no-repeat !important;
	background-size: 1px 1px !important;
}

::-webkit-scrollbar-button:active {
	--offset: 1px;

	box-shadow: var(--border-button-sunken-alt);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
	background-color: var(--color-scrollbar);
}
