hr {
	border: none;
	border-top: 1px solid var(--color-button-highlight);
	box-shadow: 0 -1px var(--color-button-shadow);
	margin-top: 3px;
	margin-bottom: 4px;
}

fieldset {
	border: 1px solid;
	border-color: var(--border-groupbox-border);
	border-radius: 0;
	box-shadow: var(--border-groupbox-box-shadow);
	padding: 12px 9px 11px 8px;
	margin: 0;
	margin-bottom: 8px;
}

input,
button,
select,
textarea {
	appearance: none;
	outline: none;
	font: var(--text-ui);
	border: none;
	margin: 0;

	position: relative;
	height: 21px;

	&:disabled {
		--color-window: var(--color-button-face);
		--color-window-text: var(--color-gray-text);
		--color-button-text: var(--color-button-shadow);
		text-shadow: 1px 1px var(--color-button-highlight);

		pointer-events: none;
	}
}

select,
textarea,
input:not([type]),
input[type="url"],
input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"] {
	background-color: var(--color-window);
	color: var(--color-window-text);
	box-shadow: var(--border-field);
	padding: 4px;
}

button,
input:where([type="button"], [type="submit"]) {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	text-align: center;
	box-shadow: var(--border-button-raised);
	padding: 5px;

	min-width: 75px;
	height: unset;

	&:active {
		box-shadow: var(--border-button-sunken);
	}

	&:focus {
		outline: dotted 1px var(--color-button-text);
		outline-offset: -4px;
	}
}

.icon-button {
	min-width: 23px;
	height: 22px;

	&:active,
	&[selected] {
		background-image: repeating-conic-gradient(
			var(--color-scrollbar) 0% 25%,
			var(--color-window) 0% 50%
		);
		background-size: 2px 2px;
		box-shadow: var(--border-button-sunken);
	}

	&::before {
		content: '';

		position: absolute;
		inset: 0;

		background: var(--button-img) no-repeat;
		background-position: var(--button-img-pos, center);

		@media (prefers-color-scheme: dark) {
			filter: invert();
		}
	}
}

input {
	&[type="checkbox"],
	&[type="radio"] {
		--color-to-change: var(--color-window);

		width: 13px;
		height: 13px;

		&:active,
		&:disabled {
			--color-to-change: var(--color-button-face);
		}

		&:checked {
			&::before {
				content: '';

				position: absolute;
				inset: 0;

				-webkit-mask: var(--control-img) no-repeat;
				-webkit-mask-size: var(--control-img-size);
				-webkit-mask-position: var(--control-img-pos);
				background-color: var(--color-button-text);
			}
		}
	}

	&[type="checkbox"] {
		background-color: var(--color-to-change);
		box-shadow: var(--border-field);

		--control-img: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjYiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSI1IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iNCIgeT0iMiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjMiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSIyIiB5PSI0Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iMSIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHk9IjIiLz48L3N2Zz4K');
		--control-img-size: 7px 7px;
		--control-img-pos: 3px 3px;
	}

	&[type="radio"] {
		--control-img: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0IDQiPjxzdHlsZT5yZWN0e2hlaWdodDoxcHh9PC9zdHlsZT48cmVjdCB4PSIxIiB3aWR0aD0iMiIvPjxyZWN0IHk9IjEiIHdpZHRoPSI0Ii8+PHJlY3QgeT0iMiIgd2lkdGg9IjQiLz48cmVjdCB4PSIxIiB5PSIzIiB3aWR0aD0iMiIvPjwvc3ZnPgo=');
		--control-img-size: 4px 4px;
		--control-img-pos: 5px 5px;
	}

	&[type="number"] {
		padding: 0;
		padding-left: 4px;

		&::-webkit-inner-spin-button {
			appearance: none;
			opacity: 1;
			background: var(--button-img);
			background-repeat: no-repeat;
			background-size: 1px 1px;
			margin-top: -1px;
			margin-right: 2px;

			width: 17px;
			height: 18px;
		}
	}

	&[type="range"] {
		background-color: transparent;
		padding: 8px 4px 12px 4px;
		margin: -4px;

		height: 31px;

		&::-webkit-slider-runnable-track {
			box-shadow: var(--border-field);
			margin: 4px;

			height: 0;
		}

		&::-webkit-slider-thumb {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAKklEQVQI12NwAQEBBmdjY2MjelAsQEqRgQHIBXIYgFwQh4HBSQBMMQIxAL3XFEiuWtpeAAAAAElFTkSuQmCC');
			appearance: none;
			background: var(--control-img);
			border: none;
			border-radius: 0;
			margin: -4px;

			width: 11px;
			height: 21px;

			&:active {
				--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAANElEQVQI12NwAQEBBmdjY2MjIAUETkDKxMSERjwWY2dnRQYGIBfIYQByQRwGBicBMMUIxABhtBY+Cv3r7wAAAABJRU5ErkJggg==');
			}
		}

		&::-webkit-slider-thumb {
			margin-top: -9px;
		}
	}
}

select {
	background: var(--control-img);
	background-color: var(--color-window);
	background-repeat: no-repeat;
	background-size: 1px 1px;
	padding: 0;
	padding-left: 4px;
	padding-right: 20px;
}

progress {
	appearance: none;
	box-shadow: var(--border-statusbar);
	padding: 1px;

	block-size: 12px;

	&::-webkit-progress-bar {
		background-color: var(--color-button-face);
	}

	&::-webkit-progress-value {
		--block-width: 7px;

		background-color: transparent;
		background-image: repeating-linear-gradient(
			90deg,
			var(--color-highlight) 0 var(--block-width),
			transparent var(--block-width) calc(var(--block-width) + 2px)
		);
	}
}

::-webkit-scrollbar {
	background-image: repeating-conic-gradient(
		var(--color-scrollbar) 0% 25%,
		var(--color-window) 0% 50%
	);
	background-size: 2px 2px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background-color: var(--color-button-face);
	box-shadow: var(--border-scrollbar-button-raised);
}

::-webkit-scrollbar-button {
	background-color: var(--color-button-face) !important;
	background-repeat: no-repeat !important;
	background-size: 1px 1px !important;
}

::-webkit-scrollbar-button:active {
	box-shadow: var(--border-scrollbar-button-sunken);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
	background-color: var(--color-scrollbar);
}
