.dialog-body,
.dialog-content {
	display: flex;
	flex-direction: column;
}

.dialog-body {
	gap: var(--dialog-content-spacing);
}

.dialog-body-container {
	display: flex;
	flex-grow: 1;
}

.dialog-buttons {
	gap: var(--dialog-button-spacing);

	display: flex;
	justify-content: end;
}

.dialog-content {
	gap: var(--dialog-button-spacing);
	margin: var(--dialog-spacing);

	&[type="messagebox"] {
		margin: var(--messagebox-spacing);

		.dialog-body-container {
			gap: var(--messagebox-content-spacing);
		}

		.dialog-buttons {
			justify-content: center;
		}
	}
}

.dialog-icon {
	--icon-size: 32px;

	background-image: var(--icon);
	margin-right: var(--dialog-content-spacing);

	width: var(--icon-size);
	height: var(--icon-size);

	&[type="error"] {
		--icon: var(--icon-dialog-error);
	}

	&[type="question"] {
		--icon: var(--icon-dialog-question);
	}

	&[type="warning"] {
		--icon: var(--icon-dialog-warning);
	}
}
