[role="listbox"] {
	background-color: var(--color-window);
	color: var(--color-window-text);
	border: 1px solid var(--color-window-text);
}

[role="option"] {
	padding: 2px 3px;

	&:hover,
	&[aria-selected="true"] {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

