.menu-item {
	line-height: 1.25;
	padding: 2px 20px;

	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 5px;

		background-color: var(--color-button-text);
	}

	/* TODO: maybe a simpler version ? */
	&[checked] {
		&[type="checkbox"] {
			&::before {
				left: 6px;
				width: 7px;
				height: 7px;

				-webkit-mask: var(--icon-checkmark);
			}
		}

		&[type="radio"] {
			&::before {
				left: 7px;
				width: 6px;
				height: 6px;

				-webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiPjxyZWN0IHg9IjEiIHdpZHRoPSI0IiBoZWlnaHQ9IjEiLz48cmVjdCB5PSIxIiB3aWR0aD0iNiIgaGVpZ2h0PSI0Ii8+PHJlY3QgeD0iMSIgeT0iNSIgd2lkdGg9IjQiIGhlaWdodD0iMSIvPjwvc3ZnPgo=');
			}
		}
	}

	&[type="parent"] {
		&::after {
			content: '';

			position: absolute;
			top: 4px;
			right: 6px;
			width: 4px;
			height: 7px;

			-webkit-mask: var(--icon-arrow-right);
			background-color: var(--color-button-text);
		}
	}

	&[disabled] {
		--color-button-text: var(--color-button-shadow);
		text-shadow: 1px 1px var(--color-button-highlight);

		pointer-events: none;
	}

	&[primary] {
		font-weight: bold;
	}

	&:hover {
		--color-button-text: var(--color-highlight-text);
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}
