.messagebox-content,
.messagebox-body {
	display: flex;
	flex-direction: column;
}

.messagebox-content {
	margin: var(--messagebox-spacing);
}

.messagebox-icon {
	--icon-size: 32px;

	background-image: var(--icon);
	margin-right: var(--messagebox-content-spacing);

	width: var(--icon-size);
	height: var(--icon-size);

	&[type="error"] {
		--icon: var(--icon-dialog-error);
	}

	&[type="question"] {
		--icon: var(--icon-dialog-question);
	}

	&[type="warning"] {
		--icon: var(--icon-dialog-warning);
	}
}

.messagebox-body {
	gap: var(--messagebox-content-spacing);
}

.messagebox-buttons {
	gap: var(--dialog-button-spacing);
	margin-top: var(--messagebox-content-spacing);

	display: flex;
	justify-content: center;
}
