table {
	background-color: var(--color-window);
	border-spacing: 4px;
	border: none;
	box-shadow: var(--border-field);
	padding: var(--border-size);
}

.table-button {
	text-align: left;
	padding: 2px 7px;

	&:active {
		box-shadow: var(--border-button-sunken-alt);
	}

	&::after {
		content: '';

		position: absolute;
		top: -1px;
		right: 7px;
		width: 7px;
		height: 100%;

		background-color: var(--color-to-change);
		-webkit-mask: var(--button-img, none) no-repeat;
		-webkit-mask-size: 7px 4px;
		-webkit-mask-position: center;
	}

	&[sort] {
		--color-to-change: var(--color-button-text);
	}

	&[sort="ascending"] {
		--button-img: var(--icon-arrow-bottom);
	}

	&[sort="descending"] {
		--button-img: var(--icon-arrow-top);
	}
}

.table-header-row {
	box-shadow:
		inset -1px -1px var(--color-button-highlight),
		inset -2px -2px var(--color-button-shadow);
	padding: 2px 5px;
	padding-bottom: 3px;
}
