table {
	border-spacing: 0;
}

.table-button {
	text-align: left;
	padding: var(--table-row-spacing);

	&:active {
		box-shadow: var(--border-button-sunken-alt);
	}

	&[aria-sort="ascending"],
	&[aria-sort="descending"] {
		&::after {
			content: '';

			position: absolute;
			top: -1px;
			right: 7px;
			width: 7px;
			height: 100%;

			background-color: var(--color-button-text);
			mask: var(--button-img, none) no-repeat;
			mask-size: 7px 4px;
			mask-position: center;
		}
	}

	&[aria-sort="ascending"] {
		--button-img: var(--icon-arrow-bottom);
	}

	&[aria-sort="descending"] {
		--button-img: var(--icon-arrow-top);
	}
}

.table-header-row {
	background-color: var(--color-button-face);
	box-shadow:
		inset -1px -1px var(--color-button-highlight),
		inset -2px -2px var(--color-button-shadow);
	padding: 2px 5px;
	padding-bottom: 3px;
}

.table-row {
	padding: var(--table-row-spacing);
}
