::selection {
	background-color: var(--color-highlight);
	color: var(--color-highlight-text);
}

::placeholder {
	color: var(--color-gray-text);
}

code,
pre,
kbd {
	font: var(--text-monospace);
}

/* <fieldset> does not use the border property, so this is needed. */
legend {
	background-color: var(--color-button-face);
}

label {
	gap: var(--label-spacing);

	display: flex;
	align-items: center;
	position: relative;
}
