::selection {
	background-color: var(--color-highlight);
	color: var(--color-highlight-text);
}

::placeholder {
	color: var(--color-gray-text);
}

code,
pre,
kbd {
	font: var(--text-monospace);
}

td {
	font: var(--text-ui);
}

legend {
	background-color: var(--color-button-face);
	font: var(--text-ui);
}

label {
	text-decoration: none;
	gap: 7px;

	display: inline-flex;
	align-items: center;

	position: relative;
	cursor: default;

	&:has(:focus)::before {
		content: '';
		position: absolute;
		left: 17px;
		right: -3px;
		height: 100%;

		outline: dotted 1px var(--color-button-text);
	}
}