body {
	font: var(--text-ui);
	image-rendering: pixelated;

	margin: 0;

	box-sizing: border-box;
}

.window {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	box-shadow: var(--border-window);

	padding: 4px;

	&.child {
		padding: 3px;
	}
}

.window-resize-handle {
	position: fixed;
	right: 4px;
	bottom: 4px;
	width: 14px;
	height: 14px;

	cursor: se-resize;
}

.statusbar {
	gap: 2px;

	display: flex;
}

.statusbar-item {
	box-shadow: var(--border-statusbar);

	padding: 2px 4px 1px 4px;
}
